<div class="home" [@zoomInAnimation]>
    
      <div class="home-box shadow light" [@fadeInExtraShortAnimation]>
          <div class="home-box-photo"><span class="home-box-photo-content"></span></div>
          <div class="home-box-header">O mnie</div>
      </div>
             
     
    
      <div class="home-box" [@fadeInAnimation]>
        <div class="home-box-text light">
          <p class="home-box-text-content">Ukończyłem studia prawnicze z tytułem magistra na Uniwesytecie Kardynała Stefana Wyszyńskiego. Wolne chwile od nauki spędzałem 
            w McDonald’s, pracując jako instruktor na zmianach nocnych. Mądre gospodarowanie finansami pozwoliło mi przez ostatnie 5 miesięcy skupiać się w stu procentach 
            na nauce front-endu.</p>
          
          <p class="home-box-text-content">Do tej pory udało mi się w zadowalającym stopniu opanować języki HTML, CSS i JS, ten ostatni rozwijając też o najnowsze możliwości 
            ES2015 i TypeScript. Umiejętności te dopełnia stosowanie najnowszych technologii, takich jak Angular 2/4/5, Node.js i Express, SASS czy Git. Wiem co nieco o 
            narzędziach do automatyzacji pracy, takich jak Gulp czy Webpack, tego drugiego używam jednak głównie w połączeniu z Angular CLI. </p> 

          <p class="home-box-text-content">Obecnie poszukuje swojej pierwszej pracy jako junior front-end developer, jeżeli więc moje portfolio przypadło Ci do gustu, 
            zapraszam do kontaktu!
            </p>
        </div>
      </div>
    
    </div>