<div class="home"  [@zoomInAnimation]>

  <div class="home-box shadow light" [@fadeInShortAnimation]>
      <div class="home-box-image" ></div>
  </div>
         
 

  <div class="home-box large" [@fadeInAnimation]>
    <div class="home-box-text light">
      <p class="home-box-text-content">Witam Cię serdecznie na moim portfolio! Znajdziesz tutaj informacje o mojej osobie, przykładowe prace i opinie od osób, którym moja praca pozwoliła udoskonalić swój wizerunek w sieci. Jeżeli zaś chciałbyś się ze mną skontaktować, nie krępuj się użyć formularza kontaktowego dostępnego na tej stronie.</p>
      
      <p class="home-box-text-content">Portfolio zostało skonstruowane we frameworku Angular 4 i pomalowane przy użyciu SASS’a. Mam nadzieję, że spędzisz na nim miłe chwile ciesząc swoje oko tym, co stworzyłem. Nie krępuj się używać urządzeń mobilnych – dołożyłem wszelkich starań, aby strona była jak najbardziej responsywna!</p> 

      <p class="home-box-text-signature">Arkadiusz Mierzejewski</p>
    </div>
  </div>

</div>