<div class="home">

  <div class="home-box shadow">
      <div class="home-box-image"></div>
      <div class="home-box-header">ArQweb</div>
  </div>
         
 

  <div class="home-box">
    <div class="home-box-text">
      <p class="home-box-text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper ligula erat, vitae porta metus feugiat vel. Fusce faucibus interdum leo sed interdum. Cras ultricies magna ac lectus fringilla rhoncus. Nullam elit magna, ultrices vitae lorem vel, interdum rutrum mi. Fusce imperdiet erat eu hendrerit placerat. Duis dapibus molestie nunc, id semper metus pellentesque ac. Sed vel ante risus. Sed interdum, nulla eget vestibulum feugiat, elit diam vestibulum odio, at dapibus ligula purus at odio. Sed tristique rhoncus urna, ac dictum dui.</p>
      
      <p class="home-box-text-content">Maecenas quis pulvinar enim. Cras scelerisque tristique sapien nec vehicula. Nulla maximus, elit at condimentum dictum, velit ante porta nibh, ac tristique felis tortor sit amet nibh. Donec quis pharetra nulla, vitae imperdiet lorem. Ut suscipit ut elit eu tristique. Curabitur quis leo nec diam ultrices laoreet. Donec luctus, turpis quis tempor luctus, augue turpis aliquam magna, porttitor vestibulum ligula massa id tortor. Maecenas ultrices dui eu nisi congue, a iaculis nisi condimentum. Morbi sit amet velit eros. Pellentesque fringilla sem sed est eleifend, sed tincidunt velit imperdiet. Fusce vel euismod elit.</p> 
    </div>
  </div>

</div>