<div class="navbar">
  <div class="navbar-brand"></div>
  <div class="navbar-container">
    <i class="fa fa-home navbar-container-icon" aria-hidden="true" routerLink = ""></i>
    <i class="fa fa-user-o navbar-container-icon" aria-hidden="true" routerLink = "./about"></i>
    <i class="fa fa-cog navbar-container-icon rotate" aria-hidden="true" routerLink = "./mywork"></i>
    <i class="fa fa-commenting-o navbar-container-icon" aria-hidden="true" routerLink = "./opinions"></i>
    <i class="fa fa-address-card-o navbar-container-icon" aria-hidden="true" routerLink = "./contact"></i>
  </div>
</div>