<div class="navbar">
  <div class="navbar-brand"></div>
  <div class="navbar-container">
    <i class="fa fa-home navbar-container-icon" aria-hidden="true" routerLink = "" routerLinkActive="active"></i>
    <i class="fa fa-user-o navbar-container-icon" aria-hidden="true" routerLink = "./about" routerLinkActive="active"></i>
    <i class="fa fa-code navbar-container-icon" aria-hidden="true" routerLink = "./mywork" routerLinkActive="active"></i>
    <i class="fa fa-cog navbar-container-icon rotate" aria-hidden="true" routerLink = "./skillset" routerLinkActive="active"></i>
    <i class="fa fa-commenting-o navbar-container-icon" aria-hidden="true" routerLink = "./opinions" routerLinkActive="active"></i>
    <i class="fa fa-envelope-o navbar-container-icon" aria-hidden="true" routerLink = "./contact" routerLinkActive="active"></i>
  </div>
</div>