
    <div class="base">
        <div class="base-navbar" appNavState>
            <app-navbar></app-navbar>
        </div>
        <div class="base-topbar" appTopBarState>
            <app-top-bar></app-top-bar>
        </div>
        <div class="base-main">
            <app-main></app-main>
        </div>

        
    </div>

    <div class="decoration">

            <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>


            <div class="skills">
                <div class="item1"></div>
                <div class="item2"></div>
                <div class="item3"></div>
                <div class="item4"></div>
                <div class="item5"></div>
                <div class="item6"></div>
                <div class="item7"></div>
                <div class="item8"></div>
                <div class="item9"></div>
                <div class="item10"></div>
                <div class="item11"></div>
                <div class="item12"></div>
            </div>

    </div>



