@import '../sass/variables';
@import '../sass/mixins';

.loading {
    width: 100%;
    height: 100%;
    background-color: #212121;


    &-icon {
        width: 30%;
        position: relative;
        top: 30vh;
        margin: 0 auto;
        text-align: center;
        display: block; 
        font-size: 6rem;
        color: $color-main-light;
        transform: rotate(0deg) scale(1);
        transition: transform .9s .05s ease-in;
        @include bp-small {
            font-size: 10rem;
        }
        @include bp-medium {
            top: 35vh;
            width: 25%;
            font-size: 12rem;
        }

        &:hover {
            transform: rotate(360deg) scale(1.2);
        }
    }
    &-header {
        font-family: "Roboto Slab";
        top: 20vh;
        position: relative;
        text-align: center;
        font-size: 2rem;
        margin: 0;
        width: 100%;
        height: 20%;
        color: $color-main-light;
        @include bp-small {
            font-size: 3.2rem;
        }
        @include bp-medium {
            font-size: 6rem;
        }
    }

}


.base {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    //background-color: $color-body;
    @include bp-small {
        font-size: 20px;
    }
    @include bp-medium {
        font-size: 25px;
        
    }
    @include bp-large {
        flex-direction: row;
    }

    &-navbar {
        z-index: 1;
        order: 1;
        box-shadow: $container-shadow-bot;
        transform: translateY(-100px);
        @include animation('slide-bars-y-down .8s .5s ease-in forwards');

        @include bp-small {
            
        }
        @include bp-medium {
            transform: translateX(-100px);
            margin: 0;
            transform-origin:top;
            @include animation('slide-bars-x 1s ease-in forwards');
        }
        @include bp-large {

        }
    }
    &-topbar {
        display: block;
        flex-basis: 10%;
        order: 3;
        box-shadow: $container-shadow-top;
        transform: translateY(100px);
        @include animation('slide-bars-y-up .8s 1s ease-in forwards');
        @include bp-small {

        }
        @include bp-large {
            margin: 0;
            position: absolute;
            width: 100%;
            height: $topbarheight;
            box-shadow: $container-shadow-bot;
            flex-basis: 5%;
            transform: translateY(-100px);
            @include animation('slide-bars-y-down 1s 1s ease-in forwards');
        }
    }
    &-main {
        order: 2;
        flex-grow: 1;
        margin: 20px 0;
        opacity: 0;
        box-shadow: $container-shadow-bot;
        background-color: $color-main-light;
        @include animation('slide-down 1s 2s forwards');
        @include bp-small {
            margin: 20px;
        }
        @include bp-medium {
            margin: 70px;
        }

        @include bp-large {
            margin: 160px 10% 70px 10%; //piksele przeliczone z topbarem

        }
    }
}

@include keyframes(slide-down) {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@include keyframes(slide-bars-x) {
    0% { transform: translateX(-100px); }
    100% { transform: translateX(0) }
}
@include keyframes(slide-bars-y-down) {
    0% { transform: translateY(-100px); }
    100% { transform: translateY(0) }
}

@include keyframes(slide-bars-y-up) {
    0% { transform: translateY(100px); }
    100% { transform: translateY(0) }
}









