@import '../sass/variables';
@import '../sass/mixins';

.decoration {
    display: none;
    @include bp-large {
        background-color: #485563;  /* fallback for old browsers */
        background-color: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
        background-color: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        opacity: 1;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        right: 0;
        border-bottom: 7px solid $color-main-dark;
        border-right: 7px solid $color-main-dark;
        transform-origin: bottom left;
        @include animation('scaling-border 3.4s 2s forwards');
    }
}

.loading {
    width: 100%;
    height: 100%;
    background-color: #212121;


    &-icon {
        width: 30%;
        position: relative;
        top: 30vh;
        margin: 0 auto;
        text-align: center;
        display: block; 
        font-size: 6rem;
        color: $color-main-light;
        transform: rotate(0deg) scale(1);
        transition: transform .9s .05s ease-in;
        @include bp-small {
            font-size: 10rem;
        }
        @include bp-medium {
            top: 35vh;
            width: 25%;
            font-size: 12rem;
        }

        &:hover {
            transform: rotate(360deg) scale(1.2);
        }
    }
    &-header {
        font-family: "Roboto Slab";
        top: 20vh;
        position: relative;
        text-align: center;
        font-size: 2rem;
        margin: 0;
        width: 100%;
        height: 20%;
        color: $color-main-light;
        @include bp-small {
            font-size: 3.2rem;
        }
        @include bp-medium {
            font-size: 6rem;
        }
    }

}


.base {
    margin-top: 4rem;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    @include bp-large {
        flex-direction: row;
        margin-top: 0;
        animation: bg-change 8s infinite;
    }

    &-navbar {
        transform: translateY(-100px);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
        order: 1;
        box-shadow: $container-shadow-bot;
        transition: top 1.2s ease-out;
        @include animation('slide-bars-y-down .8s .5s ease-in forwards');

        @include bp-small {
            
        }
        @include bp-large {
            width: 5rem;
            position: relative;
            height: 100%;
            transform: translateX(-100px);
            margin: 0;
            transform-origin:top;
            @include animation('slide-bars-x 1s ease-in forwards');
        }
        @include bp-large {

        }
    }
    &-topbar {
        z-index: 1;
        position: fixed;
        width: 100%;
        bottom: 0;
        display: block;
        flex-basis: 10%;
        order: 3;
        box-shadow: $container-shadow-top;
        transition: bottom 1.2s ease-out;
        transform: translateY(100px);
        @include animation('slide-bars-y-up .8s 1s ease-in forwards');
        @include bp-small {

        }
        @include bp-large {
            margin: 0;
            position: absolute;
            top: 0;
            width: 100%;
            height: $topbarheight;
            box-shadow: $container-shadow-bot;
            flex-basis: 5%;
            transform: translateY(-100px);
            @include animation('slide-bars-y-down 1s 1s ease-in forwards');
        }
    }
    &-main {
        order: 2;
        flex-grow: 1;
        margin: 20px 0;
        margin-bottom: 4rem;
        opacity: 0;
        background-color: transparent;
        @include animation('slide-down 1.8s 3s forwards');
        @include bp-small {
            margin: 20px;
        }
        @include bp-medium {
            margin: 50px;
        }

        @include bp-large {
            margin: 110px 2.5% 30px 2.5%; //piksele przeliczone z topbarem // !!!!!!!!!!!!!!!!!!!!!
        }

        @include bp-xlarge {
            margin: 160px 10% 70px 10%; //piksele przeliczone z topbarem
        }
    }
}











