<div class="loading" *ngIf="appStarted" >
    <h1 class="loading-header">Zaczynamy?</h1>
    <i class="fa fa-power-off loading-icon" aria-hidden="true" (click)="onLoadingClick()"></i>
</div>


<div class="base" *ngIf="!appStarted">
    <div class="base-navbar">
        <app-navbar></app-navbar>
    </div>
    <div class="base-topbar">
        <app-top-bar></app-top-bar>
    </div>
    <div class="base-main">
        <app-main></app-main>
    </div>

    
</div>

<div class="decoration">

        <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>

</div>
  


