<div class="topbar">
    <a class=topbar-github href="https://github.com/arecz" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
    <div class="topbar-brand">
        <span class="topbar-brand-letter">W</span>
        <span class="topbar-brand-letter">e</span>
        <span class="topbar-brand-letter">b</span>
        <span class="topbar-brand-letter">a</span>
        <span class="topbar-brand-letter">r</span>
        <span class="topbar-brand-letter">Q</span>
    </div>
</div>