@import '../../../sass/variables';
@import '../../../sass/mixins';

.topbar {
    font-size: 1rem;
    display: flex;
    color: white;
    font-family: 'Roboto Slab';
    height: 100%;
    background-color: $color-main-dark;
    order: 3;
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    @include bp-large {
        justify-content: flex-end;
        font-size: 1.8rem;
        padding: 0 3rem;
    }


    &-brand {
        color: $color-main-light;
    }
}